@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800");
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "sans-serif";
  font-weight: bold;
  text-transform: uppercase; }


p, a {
  font-family: "Montserrat", "sans-serif";
  font-size: 16px; }

.lead {
  font-size: 18px !important; }

.base {
  font-size: 16px !important; }

.muted {
  color: rgba(0, 0, 0, 0.7); }

.bold {
  font-weight: bold; }

a {
  text-decoration: none !important; }

.btn-primary {
  background: #FE7820; }

header {
  min-height: 100px; }

.main {
  min-height: 700px; }

footer {
  min-height: 100px; }


h1 {
  font-size: 48px !important;
  letter-spacing: 3px;
  font-weight: 400; }
  @media (max-width: 800px) {
    h1 {
      font-size: 30px !important; } }

h4 {
  letter-spacing: 3px;
  font-size: 18px !important; }
  @media (max-width: 700px) {
    h4 {
      font-size: 14px !important; } }

.btn-primary {
  background: #FE7820 !important;
  padding: 20px 40px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16) !important;
  border: none !important;
  outline: none !important;
  text-transform: uppercase !important;
  letter-spacing: 3px !important;
  font-size: 14px !important;
  font-weight: 500; }

.btn:hover {
  box-shadow: 0px 20px 42px rgba(0, 0, 0, 0.16) !important; }

.primary {
  color: orange !important; }

.jumbotron input {
  color: white !important;
  height: 64px !important;
  margin: 20px 0px !important;
  outline: none !important;
  border-radius: 0 !important;
  background: rgba(255, 255, 255, 0.15) !important;
  border: none !important;
  padding: 10px 30px !important; }

.jumbotron ::placeholder {
  color: #fff !important; }

.jumbotron input:focus {
  outline: none !important;
  box-shadow: none !important;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.07) !important; }

.jumbotron .btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 10px; }

.jumbotron .form-container {
  padding: 10px; }

.fta-cover {
  min-height: 100vh;
  background: url("../img/hero2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff; }

.intro nav {
  box-shadow: none;
  padding: 30px; }

.main .countdown-container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  max-width: 250px;
  text-align: center;
  background: rgba(255, 255, 255, 0.15);
  margin: 0 auto;
  padding: 0 !important; }
  @media (max-width: 600px) {
    .main .countdown-container {
      max-height: 120px;
      max-width: 146px; } }
  .main .countdown-container .countdown {
    margin: 0 !important;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px !important; }

.main .separator {
  background: rgba(255, 255, 255, 0.25); }

footer .copyright {
  font-size: 12px;
  letter-spacing: 1px; }
